html{
    background-color: blueviolet;
}

#TopHeader {
    background-color: rgb(213, 216, 243);
    height: 5rem; 
    margin: 0 0 5rem 0;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
#TopHeader a{
  float: left;
  color: black;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 2rem;
}
a:hover {
    background-color: lightslategray;
}

main {
    background-color: blueviolet;
}
main p{
font-size: 3rem;
color: aliceblue;
font-family:Arial, Helvetica, sans-serif;
}
div{
    background-color: violet;
    margin: auto;
    width: 50%;
    height: 40%;
}
div#imgs p{
  font-size: 2rem;
  text-align: center;
}
div#imgs img{
    display: block;
    margin: 2rem auto 2rem auto;
    padding: 5%;
}
div#imgs img#img1 {
    width: 30rem;
}
div#imgs img#img2 {
    width: 15rem;
}


ul {
    font-size: 2rem;
    padding: 0 5rem 0 5rem;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    background-color: thistle;
    margin: 0rem 1rem 1rem 1rem;
}
main p{
    font-size: 2rem;
    padding: 0 5rem 0 5rem;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    background-color: thistle;
    margin: 1rem 1rem 1rem 1rem;
}
main audio{
    margin: 1rem 1rem 1rem 1rem;
}
main video{
    margin: 1rem 1rem 1rem 1rem;
}
main a{
    font-size: 2rem;
    padding: 0 5rem 0 5rem;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    background-color: thistle;
    margin: auto;  
    align-self: center;
}
fieldset legend{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    background-color: thistle;
}
fieldset div{
    padding: 0 5rem 0 5rem;
    margin: auto; 
}
fieldset label{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
fieldset input{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto; 
    display: block;
}
fieldset button{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto; 
    display: block;
}

footer {
    margin-top: 5%;
    border: 5rem;
    border-color: red;
    background-color: lightslategray;
}
footer p {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}
footer a{
width: 10rem;
height: 10rem;
background-color: red;
}
img#face{
display: block;
margin: auto;
border-radius: 50%;
}